.navbar-transition {
  transition: transform 0.3s ease-in-out; // Smooth sliding animation
}

.navbar-hidden {
  transform: translateY(-100%); // Moves the navbar completely off-screen
}

#mainNavbar {
  /* Change the solid color to a semi-transparent one (RGBA) */
  -webkit-backdrop-filter: blur(1px) ;
  backdrop-filter: blur(1px) ;
  /* Adding a thin, light top border makes the 'glass' look like it has an edge */
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
  
  .nav-link {
    transition: color 0.3s ease; 
  }