// 1. FUNCTIONS (Required for color manipulation)
@import "../node_modules/bootstrap/scss/functions";

// 2. YOUR VARIABLES
$primary: #3d2c22;
$secondary: #ab5f90;
$success: #09bb09;
$info: #1cdfa8;
$warning: #400b49;
$danger: #ff0000;


$myAll: #B6B6B4;
$myAccent: #98FF98; 


// 3. BOOTSTRAP CORE VARIABLES (Required for maps)
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";

// 4. THEME MAP MERGE (This is the "Theme Function" part)
// This ensures utilities like .text-primary or .bg-primary use your colors
$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger

));



// 5. THE REST OF BOOTSTRAP
@import "../node_modules/bootstrap/scss/bootstrap";


.bg-myAll {
    background-color: $myAll !important;
}

body {
    background-color: $myAll;
    overflow-x: hidden; // This prevents the side-menu from creating a scrollbar
    width: 100%;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

// 6. YOUR CUSTOM COMPONENTs

@import "./nav";
@import "./hero";
@import "./produse";
@import "./modal";
@import "./marquee";
@import "./evenim";
@import "./despre";
@import "./contact"; 
@import "./footer";


.myBtn2 {
  background-color: $myAccent;
  border-color: $myAccent;
  transition: all 0.3s ease; // Esențial pentru o mișcare fluidă, nu bruscă
  color: $primary;

  &:hover {
    background-color: darken($myAccent, 10%); // O face cu 10% mai închisă
    border-color: darken($myAccent, 12%);
    color: darken($primary, 30%);; // Sau ce culoare de contrast dorești
    transform: translateY(-3px); // Ridică butonul puțin (efect de "plutire")
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); // Adaugă o umbră la hover
   
  }
}