@import "./colors";

@import "./hero";

@import "./products"; 

@import "./offcanvas";

@import "./navbar";    

@import "./events"; 

@import "./contact";

@import "./footer";




// Optional: Smooth scroll adjustment
// This ensures that when you click "Produse", the section title 
// doesn't get covered by the navbar.
html {
  scroll-behavior: smooth; // This makes the jump feel like a slide
}

/* Push the entire page down so the Hero image starts AFTER the navbar */
body {
  padding-top: 63px; /* Adjust this to your mobile navbar height */
}

@media (min-width: 992px) {
  body {
    padding-top: 63px; /* Adjust this to your desktop navbar height */
  }
}

.myLine {
  border-radius: 2px; /* Optional: gives the line slightly rounded edges */
}

